body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}


main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header-content {
    background-color: #00BAFF;
        /* #9716E2
        #00BAFF
        #E5322B */
    width: 100%;
    padding: 0 20px 0 20px;    
}

.content {
    margin-top: 10px;
    width: 100%;
}

.selector {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto 20px auto;
}

.selector select {
    padding: 5px;
    border-width: 1px #ccc solid;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.selector div {
    
    margin: 0 20px;    
}

.switch {
    width: 30px;
    cursor: pointer; /*Changes mouse cursor when hovered*/
}


.refresh-container {
    display: flex;
    align-items: center;
}

.button-refresh {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.currency-display {
    display: flex;
    margin: 10px auto 0 auto;
    justify-content: center;
}

.coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.arrow-container {    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.chart {
    /* background-color: rgb(11, 15, 252); */
    width: 70%;
    margin: 0 5px;
    box-sizing: border-box;    
    
}

.chart-graph {
    background-color: #FFF;
    border: 1px #ccc solid;

}

.stats_value {
    padding: 0 30px 0 0;
}

.fees {
    padding: 0 30px 0 0;
}

.table-container {
    width: 30%;
    box-sizing: border-box;
    margin: 0 5px;
}

.table {
    background-color: #eee;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    padding: 10px;
    border: 1px #ccc solid;
}

.table td:hover {
    background-color: #00BAFF;
}

/*roxo #9716E2
   azul     #00BAFF
vermelho #E5322B*/